
@{
    ViewBag.Title = "StartCheckMain";
    Layout = null;
}

<h2>StartCheckMain</h2>

<div class="form-group row">
    <input type="submit" class="btn btn-success" value="修改">
    <input type="submit" class="btn btn-success" value="進入收集作業">
</div>

