
@{
    ViewBag.Title = "login";
}

<h2>login</h2>

<input type="button" class="btn btn-success" value="登入" onclick="newStart()">


<script>
                function newStart() {
                    window.location.href = "/member/welcomePage";
                }
</script>

