
@{
    ViewBag.Title = "excelImport";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    批次匯入（一般健檢報告匯入）
                    <a href="~/healthSystem/reportManageMain" class="btn btn-warning btn-xs pull-right">
                        <span class="glyphicon glyphicon-arrow-left"></span> 回上頁
                    </a>
                </h3>
            </div>

            <div class="panel-body">
                <form method="post" action="/basicData/hospitalMaster">
                    <div class="form-group row">
                        <div class="col-xs-4">
                            <label for="ex1">年度</label>
                            <select class="form-control" id="ex2" name="hospital_state">
                                <option></option>
                                <option>2016</option>
                                <option>2015</option>
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <label for="ex2">醫院名稱</label>
                            <select class="form-control" id="ex2" name="hospital_state">
                                <option>中山醫</option>
                                <option>中國醫</option>
                                <option>台北市立</option>
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <label for="ex2">方案名稱</label>
                            <select class="form-control" id="ex2" name="hospital_state">
                                <option></option>
                                <option>一般健檢</option>
                                <option>N</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-xs-4">
                            <label for="ex1">工種:</label>
                            <select class="form-control" id="ex2" name="hospital_state">
                                <option>一般員工</option>
                                <option>N</option>
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <label for="ex1">健檢類別:</label>
                            <select class="form-control" id="ex2" name="hospital_state">
                                <option>一般健檢</option>
                                <option>N</option>
                            </select>
                        </div>


                    </div>
                    <hr class="style-two " />
                    <div class="col-sm-pull-3">
                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                            <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                            <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-success  pull-right" value="送出查詢">
                </form>




            </div>


        </div>
    </div>
</div>


