
@{
    ViewBag.Title = "employeeMaster";
}

<h2>employeeMaster</h2>


    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">條件查詢</h3>
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <div class="col-xs-4">
                        <label for="ex1">廠別</label>
                        <input class="form-control" id="ex1" type="text">
                    </div>

                    <div class="col-xs-4">
                        <label for="ex2">姓名</label>
                        <input class="form-control" id="ex2" type="text">
                    </div>
                    <div class="col-xs-4">
                        <label for="ex3">工號</label>
                        <input class="form-control" id="ex3" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-4">
                        <label for="ex4">工種</label>
                        <select class="form-control" id="ex4">
                            <option>高階主管</option>
                            <option>一般員工</option>

                        </select>
                    </div>
                    <div class="col-xs-4">
                        <label for="ex5">身分證字號</label>
                        <input class="form-control" id="ex5" type="text">
                    </div>
                    <div class="col-xs-4">
                        <label for="ex6">停用註記</label>
                        <select class="form-control" id="ex6">
                            <option>Y</option>
                            <option>N</option>
                        </select>
                    </div>

                </div>
                <input type="submit" class="btn btn-success  pull-right" value="送出查詢">
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">查詢結果</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#firstTab">主檔</a></li>
            <li><a data-toggle="tab" href="#secondTab">明細檔-工種</a></li>
            <li><a data-toggle="tab" href="#thirdTab">明細檔-健檢記錄</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="firstTab">@Html.Action("employeeMain")</div>
            <div class="tab-pane fade in " id="secondTab">@Html.Action("employeeWork")</div>
            <div class="tab-pane fade in " id="thirdTab">@Html.Action("employeeReport")</div>
        </div>
    </div>