@{
    healthSystem.Models.Emp emp = new healthSystem.Models.Emp();
    string emp_name = "";
    if (Session["Employee_workNumber"] != null) {
        string emp_id = Session["Employee_workNumber"].ToString();
        emp_name = emp.Name(emp_id);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/font.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("寶成國際", "welcomePage", "member", new { area = "" }, new { @class = "navbar-brand" })
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">基礎資料管理<b class="caret"></b></a> @*b是箭頭*@
                        <ul class="dropdown-menu">
                            <li><a href="~/basicData/purviewMaster">人員權限管理</a></li>
                            <li><a href="~/basicData/employeeMaster">人事資料管理</a></li>
                            <li><a href="~/basicData/hospitalMaster">醫院及方案設定</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">健檢系統 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/healthSystem/StartCheckMaster">健檢作業管理</a></li>
                            <li><a href="~/healthSystem/bookMaster">高級主管預約</a></li>
                            <li><a href="~/healthSystem/reportManageMaster">健檢報告管理</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (string.IsNullOrEmpty(emp_name)) {
                        <li><a href="~/member/login"><span class="glyphicon glyphicon-user"></span>請登入</a></li>
                    } else {<li><a href="#"><span class="glyphicon glyphicon-user"></span>@emp_name</a></li>}
                    <li><a href="~/member/logout"><span class="glyphicon glyphicon-log-in"></span>員工登出</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>